/*----------------------------------------*/
/* Generales
/*----------------------------------------*/
#menu{
  background: rgb(17,17,180);
  background: linear-gradient(90deg, rgba(17,17,180,1) 0%, rgba(24,103,209,1) 100%);
}
.contenedor{
  width: 90%;
  margin: 0px auto;
}
label{
  font-weight: bold;
}
.flota_izq{
  float: left !important;
}
.seccion{
  background: lightsteelblue;
}
.hidden{
  display: none;
}
/*----------------------------------------*/
/* Checkboxes
/*----------------------------------------*/
/* The container */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*----------------------------------------*/
/* Loader
/*----------------------------------------*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5);
    background-size: 150px 150px;
    opacity: 1;
}
/*----------------------------------------*/
/* Modal
/*----------------------------------------*/
.modal-header{
  background: #1a5376 !important;
  color: white !important;;
}
.modal-header .close{
  color: white !important;;
}