/*----------------------------------------*/
/* General
/*----------------------------------------*/
body{
	background-color: #eaeaea !important;
}
#menu{
	background: rgb(17,17,180);
	background: linear-gradient(90deg, rgba(17,17,180,1) 0%, rgba(24,103,209,1) 100%);
}
#btnRegistrar{
	z-index: 9;
	position:fixed;
	right:0;
	bottom:0;
	border-radius:60px;
	border:none;
	color:#FFF;
	background: #1db709;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size:40px;
	width:110px;
	height:110px;
	margin-right:30px;
	margin-bottom: 30px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner{
	font-size: 22px;
	/*width: 100%;
    background: none;
    border: none;
    border-bottom: 5px solid gray;*/
}
.bootstrap-select .dropdown-menu li a{
  font-size: 20px;
}
.bs-searchbox .form-control{
  font-size: 22px;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle,
.btn-light.dropdown-toggle{
	background: white !important;
}
.div_item_contenedor{
	margin: 0px auto;
  font-size: 30px;
  font-weight: bold;
}
/*----------------------------------------*/
/* Tarjetas
/*----------------------------------------*/
.contenedor{
	width: 90%;
	margin: 0px auto;
}
.carta{
	border-radius: 30px !important;
    border: 2px solid #1a5376 !important;
}
.icono{
	font-size: 40px !important;
}
.gris{
	color: gray;
}
.gris:hover, .gris:active{
	color: gray;
}
.verde{
	color: #49d84c;
}
.verde:hover, .verde:active{
	color: #49d84c;
}
.amarillo{
	color: #ede21c;
}
.amarillo:hover, .amarillo:active{
	color: #ede21c !important;
}
.rojo{
	color: #f93c39;
}
.rojo:hover, .rojo:active{
	color: #f93c39;
}
.azul{
	color: #007bff;
}
.azul:hover, .azul:active{
	color: #007bff;
}
.naranja{
	color: #faaa55;
}
.naranja:hover, .naranja:active{
	color: #faaa55;
}
.color_socio{
	background: white !important;
}
.color_antidoping{
	background: #c4ecfc !important;
}
/*----------------------------------------*/
/* Modal
/*----------------------------------------*/
.modal-header{
	background: #1a5376;
	color: white;
}
.modal-header .close{
	color: white;
}
.hidden{
	display: none;
}
/*----------------------------------------*/
/* Loader
/*----------------------------------------*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5);
    background-size: 150px 150px;
    opacity: 1;
}
/*----------------------------------------*/
/* Panel subclientes Datatable
/*----------------------------------------*/
#tabla_wrapper{
	background: white;
	padding: 20px;
	border-radius: 20px;
}
.icono_datatable{
  font-size: 25px;
  margin-right: 15px;;
}
.estatus0{
	padding-right: 10px;
	color: #f2d56d;
}
.estatus1{
	padding-right: 10px;
	color: #78f26d;
}
.status_bgc0{
	padding-right: 10px;
	color: #b0b0b0;
}
.status_bgc1{
	padding-right: 10px;
	color: #78f26d;
}
.status_bgc2{
	padding-right: 10px;
	color: #eb4034;
}
.status_bgc3{
	padding-right: 10px;
	color: #f2d56d;
}